
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main{
    
    padding: 0;
    margin: 0
    
}
.contacto{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-right: 2rem;
    margin-left: 2rem;
    
    

}

.formulario{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1 1 auto;
                
}

h1, h2 {
    text-align: center;
    color: rgb(214, 178, 18);
    padding: 15px 0;
}



form {
    
    width: 100%;
    min-width: 200px;
    padding: 20px;
    background-color: #20680e;
            
}

.section_input {
    margin-bottom: 15px;
    
}

.input_,
select, select > option,
textarea {
    width: 100%;
    padding: 20px;
    border: none;
    border-bottom: 3px solid rgb(214, 178, 18);
    background-color: transparent;
    background: linear-gradient(to bottom, transparent, rgb(0, 0, 0, 0.5));
    color: white;
    outline: none;
    cursor: pointer;
}


textarea {
    resize: none;
}

input[type="submit"] {
    background-color: rgb(214, 178, 18);
    color: #000;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
} 


input[type="submit"]:active{
    color: white;
    border-bottom: 3px solid rgb(214, 178, 18);
    background: linear-gradient(to top, transparent, rgb(0, 0, 0, 0.7));
}




.mail{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    justify-content: center;
    align-items: center;
    
}

.telefono{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
}

.telefono a{
    text-decoration: none;
    color: rgb(224, 153, 19);
    
}

i{
    padding: 0 10px;
    font-size: rem;
    color: rgb(184, 13, 13);
}

.conjunto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #20680e;
    row-gap: 1rem;
    padding: 30px;
    margin-bottom: 1rem;
    width: 100%;
}


.mapa{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 2rem;
}

.oficina{
    font-size: 1.5rem;
}

.oficina a{
    text-decoration: none;
    color: rgb(224, 153, 19);
}

iframe{
    height: 395px;
}



@media (min-width: 768px){
    .contacto{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }                                                
}

