.main{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, auto);
    }
.container-menu a{
    text-decoration: none;   
    padding: 5px;
}
/*##################################################################*/
/*  moviles verticales*/
/*##################################################################*/
    
@media only screen and (max-width: 600px) {
   .header{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgb(255, 255, 255);
   }
    .container-menu{
        grid-area: 1/1/2/7;
        text-align: center;
        align-items: center;
        background-color: rgba(39, 39, 39);
        width: 100%;   
        position: fixed;   
        top: 100px; 
        height: 23px;
    }
    .container-menu li{
        display: inline-block;
    }
    .container-menu a:hover{
        font-weight: 600;       
             
    }   

    .container-menu a{
        margin: 2px;
       color: #ffffff;
       font-size: 0.7em;
       text-align: center; 
    }

    .contenido{       
       margin: 120px 10px 10px;
        grid-area: 2/1/3/7;
        display: flexbox;              
    }

    .main h2{
        font-size: 1em;
    }

    .main h3{
        font-size: 0.9em;
    }

    .main p{
        padding: 10px 0px;
        font-size: 0.8em;
        text-align: justify;
    }
}
/*##################################################################*/
/*  moviles horizontales, tablets y notebooks */
/*##################################################################*/
@media only screen and (min-width: 600px) {

    .container-menu{
    grid-area: 1/1/3/2;   
    display: flexbox;
    flex-direction: column;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    /* position: fixed;   
    top: 0px;
    padding-top: 130px; 
    z-index: -1;     */
    }

    .container-menu ul{    
    position: sticky;
    top: 0;
    margin-top: 30px;

}
  
.contenido{
        grid-area: 1/2/3/7;
        display: flexbox;             
    }

    .container-menu a {
        display: block;        
        text-decoration: none;
        padding: 20px;   
        color: #ffffff;
        font-size: 1em;
        text-align: center;                  
    }    
    
    .container-menu a:hover{
        font-weight: 600;      
        /* padding-left: 2px;   */
        border-left: 5px solid #c7c7c7;
        }
    
    .main h2{
        font-size: 1.2em;
        padding: 10px 10px;
    }  

    .main p{
        padding: 20px 10px;
        font-size: 0.9em;
        text-align: justify;
    }
}
