/* ****NO MODIFICAR ESTOS CODIGOS HASTA QUE SE MENCIONE, SON 3 LUGARES, UNO PARA CADA DISPOSITIVO (MAIN RESPONSIVO)   */
* {
    padding: 0;
    margin: 0;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
}


/* COMIENZA RESPONSIVO */
/*##################################################################*/
/* telefonos moviles orientacion vertical */
/*##################################################################*/

@media only screen and (max-width: 600px) {

    .header {
        grid-area: 1/1/2/5;
        /* del grid contenedor*/
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, auto);
    }

    .logo {
        grid-area: 1/1/2/5;
        padding-top: 10px;
        background-color: rgba(255, 255, 255, 0.4);
        text-align: left;
    }

    .logo a img {
        width: 120px;
        margin-left: 8px;
        max-width: 150px;
    }

    .nav {
        /*iria menu hamburgesa en vez de los nombres*/
        grid-area: 2/1/3/5;
        text-align: center;
        padding: 15px 0px;
       /* background: url(../img/fondo7.jpg);
        /*opcion 2*/
        background: url(../img/fondo6.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: contain;
        background-repeat: no-repeat;
    }

    .nav a {
        color: #ffffff;
        font-family: 'Oswald', sans-serif;
        text-decoration: none;
        font-size: 0.8rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 15px;
    }

    .nav a:hover {
        color: darkorange;
    }

    .registro {
        grid-area: 1/4/2/5;
        flex-direction: column;
        flex: 1 1 auto;
        text-align: right;
        padding-top: 15px;
        padding-right: 10px;
    }

    #largo {
        display: none;
    }

    #solo {
        /*inicio usuario*/
        color: rgb(0, 0, 0);
    }


    #solo:hover {
        color: darkorange;
    }

    .slogan {
        display: none;
    }

    /* ESTE ES EL SECTOR PARA LA PARTE RESPONSIVA DEL MAIN TAMAÑO TELEFONOS MOVILES */

    .main {
        grid-area: 2/1/3/5; /*No modificar, ubica main en el grid principal, */
        /* rellenar aqui, podes usar cualquier display*/
    }

    /* NO MODIFICAR DE AQUI EN ADELANTE, HASTA  NUEVO AVISO */

    .footer {
        grid-area: 3/1/4/5;
        background-color: rgb(206, 206, 206);
        /*background: url(../img/fondo6.jpg); /*opcion 2*/
        background-position: center;
        background-size: cover;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, auto);
        row-gap: 5 px;
        gap: 5 px;
    }

    .redsocial {
        grid-area: 1/1/2/5;
        text-align: center;
        padding-top: 10px;
    }

    .redsocial a {
        text-align: center;
        margin-right: 30px;
        text-decoration: none;
    }

    .links {
        grid-area: 2/1/3/5;
        text-align: center;
        padding: 5px;
    }

    .links a {
        text-decoration: none;
        color: #000;
        font-weight: 600;
        justify-content: space-around;
    }

    .links a:hover {
        color: darkorange;
    }

    .links li {
        padding: 3px;
    }

    .copyright {
        background-color: rgb(158, 158, 158);
        grid-area: 3/1/4/5;
        text-align: center;
        padding: 10px;
        color: #fff;
    }
}


/*##################################################################*/
/*  moviles horizontales o tablets */
/*##################################################################*/
@media only screen and (min-width: 600px) {

    .header {
        grid-area: 1/1/2/5;
        /*background: url(../img/fondo7.jpg);
        /* opcion 2 */
        background: url(../img/fondo6.jpg);
        background-position: center;
        background-size: cover;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 40px auto auto;
        min-height: 120px;
    }

    .logo {
        grid-area: 1/1/2/3;
        padding: 10px;
    }

    .logo a img {
        width: 120px;
        height: auto;
        text-align: left;
    }

    .nav {
        grid-area: 2/1/3/5;
        text-align: center;
        padding: 10px;
    }

    .nav a {
        color: #ffffff;
        font-family: 'Oswald', sans-serif;
        text-decoration: none;
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-right: 25px;
        /*separacion entre titulos*/
        margin-left: 25px;
    }

    .nav a:hover {
        color: darkorange;
    }

    .registro {
        grid-area: 1/4/2/5;
        flex-direction: column;
        flex: 1 1 auto;
        text-align: right;
        padding-top: 15px;
        padding-right: 10px;
    }

    #largo {
        display: none;
    }

    #solo {
        /*inicio usuario*/
        color: rgb(0, 0, 0);
    }

    #solo:hover {
        color: darkorange;
    }

    .slogan {
        grid-area: 3/1/4/5;
        font-family: 'Courier New', Courier, monospace;
        color: #ffffff;
        font-size: 0.5em;
        text-align: left;
        vertical-align: middle;
        padding-left: 10px;
    }


    /* ESTE ES EL SECTOR PARA LA PARTE RESPONSIVA DEL MAIN TAMAÑO MOVIL HORIZONTAL O TABLETS */

    .main {
        grid-area: 2/1/3/5; /*No modificar, ubica main en el grid principal, */
        /* rellenar aqui, podes usar cualquier display*/
    }

/* aca va nosotros
    */
    .cont-menu{
        width: 100%;
        max-width: 250px;
        background: #1c1c1c;
        height: 100vh;
        position: relative;
        display: none;
    }
    
    .cont-menu aside a{
        display: block;
        text-decoration: none;
        padding: 20px;
        color: #c7c7c7;
        border-left: 5px solid transparent;
        
    }
    .nosotros{
        display: flex;
    }
    .cont-menu aside a:hover{
        border-left: 5px solid #c7c7c7;
        background: #1f1f1f;
    }
    #nuestra, #reseña, #mision, #valores {
        background-color: rgba(4, 143, 73, 0.3);
        backdrop-filter: blur(20px);
        border: solid 1px (255,255,255, 0.5);
        border-radius: 5px;
        box-shadow: 0 8px 32px rgba(255,255,255,0.18);
        margin: 10px;
    }
    .checkbtn{
        font-size: 30px;
        color:#fff;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: block;
    }
    #check{
        display: block;
    }
    #check input[type=cradio]:checked + .cont-menu{
        display: block;
        text-align: center;
        transition: all .5s;
    }


    /* NO MODIFICAR DE AQUI EN ADELANTE, HASTA  NUEVO AVISO */



    .footer {
        grid-area: 3/1/4/5;
        background-color: rgb(206, 206, 206);
        /*background: url(../img/fondo6.jpg);
        /* opcion 2 */
        background-position: center;
        background-size: cover;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, auto);
        row-gap: 5 px;
        gap: 5 px;
    }

    .redsocial {
        grid-area: 1/1/2/5;
        text-align: center;
        padding: 10px;
    }

    .redsocial a {
        text-align: center;
        margin-right: 30px;
        text-decoration: none;
    }

    .links {
        grid-area: 2/1/3/5;
        text-align: center;
        padding: 5px;
    }

    .links a {

        text-decoration: none;
        color: #000;
        font-weight: 600;
        justify-content: space-around;
    }

    .links a:hover {
        color: darkorange;
    }

    .links li {
        padding: 3px;
    }

    .copyright {
        background-color: rgb(0, 0, 0, 0.5);
        /* background-color: rgb(158, 158, 158); */
        grid-area: 3/1/4/5;
        text-align: center;
        padding: 10px;
        color: #fff;
    }
}


/*##################################################################*/
/* notebooks */
/*##################################################################*/

@media only screen and (min-width: 1000px) {

    .header {
        grid-area: 1/1/2/5;
        /*background: url(../img/fondo7.jpg); /* opcion 2 */
        background: url(../img/fondo6.jpg);
        background-position: center;
        background-size: cover;
        display: grid;
        grid-template-columns: 0.8fr 1fr 1fr 0.8fr;
        grid-template-rows: repeat(2, auto);
        min-height: 130px;
        align-content: center;
        align-items: center;
    }

    .logo {
        grid-area: 1/1/2/2;
    }

    .logo a img {
        width: 200px;
        vertical-align: middle;
       
    }

    .nav {
        grid-area: 1/2/2/4;
        text-align: center;
    }

    .nav a {
        color: #ffffff;
        font-family: 'Oswald', sans-serif;
        text-decoration: none;
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        /* margin-right: 45px; */
        /* margin-left: 45px; */
    }

    .nav a:hover {
        color: darkorange;
    }

    .registro {
        grid-area: 1/4/2/5;
        text-align: center;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 4px;
        padding: 4px 8px;
        margin: 10px 10px;
    }

    .fa-solid {
        padding-right: 10px;
    }

    #largo {
        display: contents;
        color: rgb(255, 255, 255);
        font-family: 'Oswald', sans-serif;
        text-decoration: none;
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .registro:hover {
        color: darkorange;
        ;
        background-color: rgb(0, 0, 0, 0.4);
        border-radius: 4px;
        padding: 4px 4px;
    }

    #solo {
        display: none;
    }

    .slogan {
        grid-area: 3/1/4/5;
        font-family: 'Courier New', Courier, monospace;
        color: #ffffff;
        font-size: 0.5em;
        text-align: left;
        vertical-align: middle;
        padding-left: 20px;
    }

    /* ESTE ES EL SECTOR PARA LA PARTE RESPONSIVA DEL MAIN TAMAÑO NOTEBOOKS */

    .main {
        grid-area: 2/1/3/5; /*No modificar, ubica main en el grid principal, */
        /* rellenar aqui, podes usar cualquier display*/
    }

    /* aca va nosotros
    */
    .cont-menu{
        width: 100%;
        max-width: 250px;
        background: #1c1c1c;
        height: 100vh;
        position: relative;
        display: block;
    }
    
    .cont-menu aside a{
        display: block;
        text-decoration: none;
        padding: 20px;
        color: #c7c7c7;
        border-left: 5px solid transparent;
    }
    .nosotros{
        display: flex;
    }
    .cont-menu aside a:hover{
        border-left: 5px solid #c7c7c7;
        background: #1f1f1f;
    }
    #nuestra, #reseña, #mision, #valores {
        background-color: rgba(4, 143, 73, 0.3);
        backdrop-filter: blur(20px);
        border: solid 1px (255,255,255, 0.5);
        border-radius: 5px;
        box-shadow: 0 8px 32px rgba(255,255,255,0.18);
        margin: 10px;
    }
    .checkbtn{
        font-size: 30px;
        color:#fff;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }
    #check{
        display: none;
    }

    /* NO MODIFICAR DE AQUI EN ADELANTE */



    .footer {
        grid-area: 3/1/4/5;
        background-color: rgb(206, 206, 206);
        /*background: url(../img/fondo6.jpg); /*opcion 2 */
        background-position: center;
        background-size: cover;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, auto);
        row-gap: 5 px;
        gap: 5 px;
    }

    .redsocial {
        grid-area: 1/1/2/5;
        text-align: center;
        padding: 10px;
    }

    .redsocial a {
        text-align: center;
        margin-right: 30px;
        text-decoration: none;
    }

    .links {
        grid-area: 2/1/3/5;
        text-align: center;
        padding: 5px;
    }

    .links a {

        text-decoration: none;
        color: #000;
        font-weight: 600;
        justify-content: space-around;
    }

    .links a:hover {
        color: darkorange;
    }

    .links li {
        padding: 3px;
    }

    .copyright {
        background-color: rgb(0, 0, 0, 0.5);
        /* background-color: rgb(158, 158, 158); */
        grid-area: 3/1/4/5;
        text-align: center;
        padding: 10px;
        color: #fff;
    }
}

