/* ****NO MODIFICAR ESTOS CODIGOS HASTA QUE SE MENCIONE, SON 3 LUGARES, UNO PARA CADA DISPOSITIVO (MAIN RESPONSIVO)   */

.tarjeta {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, auto);
    border: 1px solid lightgray;
    box-shadow: 2px 2px 1px 1px #d3d3d3d1;
    border-radius: 15px;
    font-family: sans-serif;
    background-color: rgba(253, 249, 185, 0.295);
    align-items: center; 
}

.main p {
    text-align: justify;
}

.tarjeta h3 {
    text-align: center;
    color: green;
}

.tarjeta p {
    text-align: left;
}

.imagenes img {
    object-fit: contain;
    box-shadow: 1px 1px 4px 1px green;  
}

#btn{
    padding: 0rem 1rem;
    /* align-items: center; */
    text-align: center;
     /* z-index: 10; */
}

.bts {
    text-decoration: none;
    background-color: white;
    color: green;
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    border: 1px solid green;  
}

.bts:hover{
    background-color: green;
    color: white;
    cursor: pointer;   
    border: 1px solid green;   
}

/* COMIENZA RESPONSIVO */
/*##################################################################*/
/* telefonos moviles orientacion vertical */
/*##################################################################*/

@media only screen and (max-width: 600px) {

    .main {
        margin: 10px;
    }

    .tarjeta {
        margin: 10px 0px;
        padding: 10px;
    }    

    .main h2 {
        padding: 10px 0px;
        color: rgb(214, 178, 18);
    }

    .main p {
        padding-bottom: 10px;
        font-size: 0.8em;        
    }
    #btn{
        grid-area: 2/1/3/4;
        margin-top: 10px;
    }
    .contenido {
        grid-area: 1/4/3/7;
    }

    .tarjeta h3 {
        padding: 10px 0px;
        font-size: 0.9em;
    }

    .tarjeta p {
        padding: 0px;
        margin-left: 10px;
        font-size: 0.8em;
    }

    .tarjeta .imagenes {
        grid-area: 1/1/2/4;
    }

    .imagenes img {
        width: 100%;
        max-height: 300px;
        object-fit: cover;
    }   
}

/*##################################################################*/
/*  moviles horizontales o tablets */
/*##################################################################*/
@media only screen and (min-width: 600px) {
    .main {
        margin: 20px;
    }

    .tarjeta {
        margin: 10px 0px;
        padding: 10px;
    }

    .main h2 {
        padding: 10px 0px;
        color: rgb(214, 178, 18);
    }

    .main p {
        padding-bottom: 10px;
        font-size: 1em;
    }

    .contenido {
        grid-area: 1/4/2/7;
    }

    .tarjeta h3 {
        padding: 30px 0px;
    }

    .tarjeta p {
        padding: 8px;
        margin-left: 10px;
        font-size: 1em;
    }
    #btn{
        grid-area: 2/1/3/4;  
        margin-top: 10px;     
    }
    .tarjeta .imagenes {
        grid-area: 1/1/2/4;
    }

    .imagenes img {
        width: 100%;
        max-height: 400px;
        object-fit: cover;
    }
}

/*##################################################################*/
/* notebooks */
/*##################################################################*/

@media only screen and (min-width: 1000px) {
    .main {
        margin: 70px;
    }
    .tarjeta {
        margin: 10px 0px;
        padding: 10px;
    }

    .main h2 {
        padding: 10px 0px;
        color: rgb(214, 178, 18);
    }

    .main p {
        padding-bottom: 10px;
        font-size: 1.3em;       
    }

    .contenido {
        grid-area: 1/5/2/7;
    }

    .tarjeta h3 {
        padding: 30px 0px;
    }

    .tarjeta p {
        padding: 8px;
        margin-left: 10px;
        font-size: 1em;
    }
    #btn{
        grid-area: 2/5/3/7;  
        margin-top: 10px;     
    }
    .tarjeta .imagenes {
        grid-area: 1/1/3/5;
    }

    .imagenes img {
        width: 100%;
        max-height: 400px;
        object-fit: cover;
    }
}
