<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ENSIGNA</title>
    <link rel="stylesheet" href="./css/nayfooter.css">
    <link rel="stylesheet" href="css/productos.css">
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/3a6a7a1eda.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oswald&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="contenedor">
        <header class="header">

        </header>
        <main class="main" id="app">

            <h2>Cosechadoras</h2>
            <p>Las cosechadoras de la Serie S están diseñadas para entregar una calidad absoluta al momento de la
                cosecha. La tecnología de rotor reduce en un 20% la fuerza requerida para mover el material a través
                de la cosechadora. Para el accionamiento del rotor es necesario menos potencia, lo que posibilita
                aumentar la velocidad de la cosecha.</p>
            <div class="tarjeta" v-for="elemento in cosecha">
                <div class="contenido">
                    <h3>Caracteristicas principales</h3>
                    <p>Modelo: {{elemento.Modelo}}</p>
                    <p>Motor: {{elemento.Motor}}</p>
                    <p>Potencia: {{elemento.Potencia}}</p>
                    <p>Plataforma: {{elemento.Plataforma}}</p>
                    <p>Capacidad de tolva: {{elemento.CapacidadDeTolva}}</p>
                    <p>Capacidad de descarga: {{elemento.CapacidadDeDescarga}}</p>
                    <p>Piloto automático: {{elemento.PilotoAutomático}}</p>
                    <p>JDLINK: {{elemento.JDLINK}}</p>
                    <p>COMBINE ADVISOR: {{elemento.COMBINEaDVISOR}}</p>
                    <p>ACTIVEYIELD: {{elemento.ACTIVEYIELD}}</p>
                </div>
                <div class="imagenes">
                    <img v-bind:src="elemento.imagen" :alt="elemento.Modelo">

                </div>

                <div id="btn">
                    <a class="bts" href="./contacto.html" target="_blank">Consultar</a>


                </div>


            </div>
            <h2>Plantadoras</h2>
            <p>Consciente de que la siembra es una de las etapas más importantes de todo el ciclo productivo, la
                solución de siembra que ENSIGNA ofrece satisface todas las necesidades de aquellos que deben llevar
                a cabo la siembra con agilidad, precisión y economía, lo que garantiza el éxito de la producción a
                lo largo todo el ciclo.</p>

            <div class="tarjeta" v-for="elemento in planta">
                <div class="contenido">
                    <h3>Caracteristicas principales</h3>
                    <p>Modelo: {{elemento.Modelo}}</p>
                    <p>Nro. de líneas / espaciamiento: {{elemento.lineas}}</p>
                    <p>Ancho de labor: {{elemento.AnchoDeLabor}}</p>
                    <p>Caja central de semillas: {{elemento.CajaCentralDeSemillas}}</p>
                    <p>Deslingue de hilera automático: {{elemento.DeslingueDeHileraAutomático}}</p>
                    <p>Tasa variable: {{elemento.TasaVariable}}</p>
                    <p>Transporte: {{elemento.Transporte}}</p>
                </div>
                <div class="imagenes">
                    <img v-bind:src="elemento.Imagen" :alt="elemento.Modelo">
                </div>

                <div id="btn">
                    <a class="bts" href="./contacto.html" target="_blank">Consultar</a>


                </div>


            </div>
            <h2>Tractores</h2>
            <p>Bienvenido a la sección de tractores de ENSIGNA, donde la innovación se une a la potencia para
                ofrecerte un rendimiento excepcional en tus operaciones agrícolas. Nuestros tractores están
                diseñados para satisfacer las demandas más exigentes de la agricultura moderna, proporcionando la
                potencia y versatilidad que necesitas en cada campo.</p>

            <div class="tarjeta" v-for="elemento in trac">
                <div class="contenido">
                    <h3>Caracteristicas principales</h3>
                    <p>Modelo: {{elemento.Modelo}}</p>
                    <p>Motor: {{elemento.Motor}}</p>
                    <p>Potencia: {{elemento.Potencia}}</p>
                    <p>Transmisión: {{elemento.Transmisión}}</p>
                    <p>Toma de potencia: {{elemento.TomaDePotencia}}</p>
                    <p>Sistema hidráulico: {{elemento.SistemaHidráulico}}</p>
                    <p>Levante 3 puntos: {{elemento.Levante3puntos}}</p>
                </div>
                <div class="imagenes">
                    <img v-bind:src="elemento.Imagen" :alt="elemento.Modelo">
                </div>


                <div id="btn">
                    <a class="bts" href="./contacto.html" target="_blank">Consultar</a>


                </div>

            </div>


        </main>

        <footer class="footer">

        </footer>

    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/main.js"></script>
    <script src="./js/productos.js"></script>
</body>

</html>
